@model TaskProject.ViewModels.Tasks.TaskViewModel

<h2>Task Details :</h2><br /><br />

<div>
    <span><b></>Task Name :</b></span> <h3 class="ms-5 mx-2">@Model.TaskName</h3>
    <span><b>Task Description :</b></span>  <p class="ms-5 mx-2">@Model.TaskDescription</p>
    <span><b>Task DueDate :</b></span> <p class="ms-5 mx-2">@Model.TaskDueDate?.ToShortDateString()</p>
    <span><b>Task Attachment :</b></span> <p class="ms-5 mx-2">@Model.TaskAttachment</p>
</div>

<h4>Subtasks</h4>
@if (Model.TaskSubtasks != null && Model.TaskSubtasks.Any())
{
    <ul>
        @foreach (var subtask in Model.TaskSubtasks)
        {
            <li>
                <strong>Name:</strong> @subtask.SubTaskName <br />
                <strong>Description:</strong> @subtask.SubTaskDescription <br />
                <strong>Due Date:</strong> @subtask.SubTaskDueDate?.ToShortDateString()
            </li>
        }
    </ul>
}
else
{
    <p>No subtasks available.</p>
}

<h4>Assigned Users</h4>
@if (Model.TaskAppUsers != null && Model.TaskAppUsers.Any())
{
    <ul>
        @foreach (var user in Model.TaskAppUsers)
        {
            <li>
                <strong>Username:</strong> @user.UsernameVM <br />
                <strong>Email:</strong> @user.EmailVM
            </li>
        }
    </ul>
}
else
{
    <p>No users assigned.</p>
}

<a asp-action="AllTasks" class="btn btn-secondary">Back to All Tasks</a>
